.Footer {
    margin-top: auto;
    width: 100%;
}

.contact-info {
    background-color: #006A71;
    color: #d6d6d6;

    padding-block: 16px;
    padding-left: 256px;
}

.footer-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #424242;
    color: #d6d6d6;

    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 12px;
}