.container {
    padding-inline: 256px;
    padding-block: 32px;
    min-height: 95vh;
}

.topPortion {
    display: flex;
    flex-direction: row;
}

.topImage {
    height: 600px;
    width: 600px;
    margin-right: 16px;
}

.topText {
    margin-bottom: 16px;
}

.middlePortion {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.contacts-btn {
    margin-top: 16px;
    height: 36px;
    width: 112px;

    border-radius: 5px;
    /* height: 44px; */
}