/* Hello :) */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #F2EFE7;
    padding-top: 24px;
    padding-bottom: 12px;
    padding-inline: 256px;
}

.logo {
    position: relative;
    font-size: 24px;
    color: rgb(99, 99, 99);
    bottom: 6px;
}

.menu {
    display: flex;
    justify-content: space-between;
    color: rgb(99, 99, 99);
}

.menu-item ~ .menu-item {
    margin-left: 32px;
}